/* Custom properties */
:root{
    --yellow: #DAA520;
    --light-blue: #ADD8E6;
    --dark-blue: #00008B;
    --violet: #EE82EE;
    --white: #FFFFFF;
    --blue: #1E90FF;
    --light-pink: #FFC0CB;
    --grey: #D3D3D3;
    --green: #228B22;
    --salmon: #F08080;
    --cold-green: #20B2AA;
    --pink: #FFB6C1;
    --acquamarine: #7FFFD4;
    --black-border: 2px dashed black;


}

/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: sans-serif;
}

/* Utils */
.container{
    max-width: 900px;
    margin: 0 auto;
}

/* Header */
header{
    background-color: #ADD8E6;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-container-header{
    display: flex;
    background-color: var(--yellow);
    min-width: 900px;
    height: 40px;
    justify-content: space-evenly;
}

.details-header{
    padding: 10px;
    border: var(--black-border);
}

.logo, .login{
    flex-basis: 20%;
}

nav{
    flex-basis: 60%;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li{
    margin-right:2px;
}

/* Section under-header */
.flex-container-blue{
    background-color: var(--dark-blue);
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle-violet{
    background-color: var(--violet);
    width: 600px;
    height: 200px;
    display: flex;
    border: var(--black-border);
}

/* Sections main */
.main-bg{
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container-main{
    min-width: 900px;
    height: 250px;
    display: flex;
}

.light-blue-part{
    flex-basis: 60%;
    background-color: var(--blue);
    border: var(--black-border);
}

.light-pink-part{
    flex-basis: 40%;
    background-color: var(--light-pink);
    border: var(--black-border);
}

.white-bg{
    background-color: var(--white);
}

.grey-bg{
    background-color: var(--grey);
}


